

  <div class="px-content" *ngIf="artist">

    <div class="row m-t-1">
      <div class="col-md-4 col-lg-3">
        <div class="text-xs-center" *ngIf=" artist.images.length > 0 "><img src="{{artist.images[0].url}}" alt="" width="160px" class="page-profile-v1-avatar border-round"></div>
        <div class="m-y-3 text-xs-center">
          <a href="#" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;&nbsp;Following</a>&nbsp;&nbsp;

        </div>
        <div class="panel panel-transparent">
          <div class="panel-heading p-x-1">
            <span class="panel-title">About me</span>
          </div>
          <div class="panel-body p-a-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <a href="#">dolore magna</a> aliqua.
          </div>
        </div>
        <div class="panel panel-transparent">
          <div class="panel-heading p-x-1">
            <span class="panel-title">STATISTICS</span>
          </div>
          <div class="list-group m-y-1">          
            <a href="#" class="list-group-item p-x-1 b-a-0"><strong>{{artist.popularity}}</strong> Popularity</a>
            <a href="#" class="list-group-item p-x-1 b-a-0"><strong>{{artist.followers.total}}</strong> Followers</a>
          </div>
        </div>
        <div class="panel panel-transparent">
          <div class="panel-heading p-x-1">
            <span class="panel-title">GENRES</span>
          </div>
          <div class="panel-body p-a-1" *ngIf="artist.genres.length > 0">
            <span class="label label-primary" *ngFor="let genre of artist.genres">{{genre}}</span>
          </div>
        </div>
        <div class="panel panel-transparent">
          <div class="panel-heading p-x-1">
            <span class="panel-title">Social</span>
          </div>
          <div class="list-group m-t-1">
            <a href="#" class="list-group-item p-x-1 b-a-0"><i class="fa fa-twitter" style="color: #4ab6d5"></i>&nbsp;&nbsp;&nbsp;@dsteiner</a>
            <a href="#" class="list-group-item p-x-1 b-a-0"><i class="fa fa-facebook-square" style="color: #1a7ab9"></i>&nbsp;&nbsp;&nbsp;Denise Steiner</a>
            <a href="#" class="list-group-item p-x-1 b-a-0"><i class="fa fa-envelope" style="color: #888"></i>&nbsp;&nbsp;&nbsp;dsteiner@example.com</a>
          </div>
        </div>
      </div>

      <hr class="page-wide-block visible-xs visible-sm">

      <div class="col-md-8 col-lg-9">
        <h1 class="font-size-20 m-y-4">{{artist.name}}</h1>

        <ul class="nav nav-tabs" id="profile-tabs">
          <li  class="active">
            <a href="#profile-followers" data-toggle="tab">
              Album
            </a>
          </li>
        </ul>

        <div class="tab-content tab-content-bordered p-a-0 bg-white">

          <div class="tab-pane active" id="profile-followers">

            <div class="widget-followers-item" *ngFor="let album of albums">
              <img src="{{album.images[0].url}}" alt="" class="widget-followers-avatar">
              <div class="widget-followers-controls"><a href routerLink="/spotify/album/{{album.id}}" class="btn btn-sm btn-success">
                <i class="fa fa-check"></i>&nbsp;&nbsp;Album details</a></div>
              {{album.name}}
            </div>

            
          </div>

        </div>
      </div>
    </div>

  </div>