
<div *ngIf="user" class="row">
    <div class="col-md-4">

        <!-- Centered -->
        <div class="panel panel-danger panel-dark panel-body-colorful widget-profile widget-profile-centered">
          <div class="panel-heading">
            <img src="{{user.avatar_url}}" alt="" class="widget-profile-avatar">
            <h3 class="widget-profile-header">
              {{user.login}}
              <a href="{{user.url}}" class="widget-profile-secondary-text">{{user.url}}</a>
            </h3>
          </div>
          <div class="panel-body">
            Public repos: <strong>{{user.public_repos}}</strong> <br>
            User since: <strong>{{user.created_at}}</strong>
          </div>
          <div class="list-group" *ngIf="repos">
              <div  *ngFor="let repo of repos">
                <a href="{{repo.html_url}}" class="list-group-item">
                    <i class="fa fa-envelope-o list-group-icon"></i>
                    <strong>{{repo.name}}</strong> 
                    <small>({{repo.description}}, forks: {{repo.forks}})</small>
                </a>
              </div>            
            
            
          </div>
        </div>

      </div>


</div>
